::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: get-colour(font);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: get-colour(font);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: get-colour(font);
}

h3 {
	margin-bottom: 3em;
}

.hidden {
  display: none!important;
  visibility: hidden!important;
}

select {
	background: transparent url('./down-chevron.svg') 96%;
	background-repeat: no-repeat;
	background-size: 13px;
	border-radius: 0;
	color: get-colour(font);
	// Resets browser's native appearance for <select>
	-webkit-appearance: none;
	-moz-appearance: none;
}

.inputs {
	display: flex;
	flex-direction: column;

	span,
	label,
	[placeholder]::placeholder {
		text-transform: uppercase;
	}

	label {
		margin-bottom: 43px;
	}

	.input {
		background-color: transparent;
		font-size: 14px;
		height: 35px;
		width: 100%;
	}

	.input--border-bottom {
		border: 0;
		border-bottom: solid 1px get-colour(font);
	}

	.input--is-invalid {
		input {
			border-bottom-color: get-colour(error);
			color: get-colour(error);
		}
	}
}

.label-filled,
.label-error {
	font-size: 11px;
}

.label-filled {
	color: get-colour(font);
}

.label-error {
	color: get-colour(error);
	text-transform: initial !important;
}

.controls {
	display: flex;
	justify-content: space-between;
	padding-top: 23px;
}

.tail-arrow {
	position: relative;

	&:after {
		content: " ";
		position: absolute;
		top: 100%;
		left: 50%;
		height: 0;
		width: 0;
		border: solid transparent;
		margin-left: -12px;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-top: 12px solid get-colour(yellow);
		pointer-events: none;
	}

	&.tail--left:after {
		left: 20%;
	}

	&.tail--right:after {
		left: 80%;
	}
}